@charset "utf-8";


/* 노토산스 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

:root {
  --t-color01:#333;
  --t-color02:#fff;
  --bg-color01:#fff;
  --t-size12:12px;
  --t-size14:14px;
  --t-size16:16px;
}

body {
  font-family: 'Noto Sans KR', '맑은고딕', sans-serif;
  font-size: var(--t-size12);
  color: var(--t-color01);
  background: var(--bg-color01);
  overflow-x: hidden;
  text-transform: capitalize;
}

a {
  color: var(--t-color01);
  text-decoration: none;
  font-size: var(--t-size12);
}

.d-flex {display:flex;}
.jcsa {justify-content: space-around;}
.jcsb {justify-content: space-between;}
.tac {text-align: center;}
.hidden {display:none;}

::-webkit-scrollbar {display:none;}