.section {overflow: hidden;}
/* 모달 */
.modal{
	width:100%;height:100%;
	position:fixed;left:0px;top:0px;
	background:rgba(0,0,0,.7);
	z-index:1000;
}
.inner{
	width:350px;height:610px;
	position:absolute;
	left:50%;top:50%;
	transform:translate(-50%, -50%);
}
.inner img{display:block;}
.inner p{
	background:rgba(255, 255, 255, 0.699);
	line-height:40px;
	font-size:12px;
	padding:0px 5px;
	position: relative;
}
.inner #c_btn{
	border:1px solid #333;
	padding:4px 8px;
	background:#fff;
	position:absolute;
	right:10px;bottom:5px;
	font-size:12px;
	border-radius: 5px;
}


/* 헤더 공통*/
header {
	width: 100%;
	height: 80px;
	position: fixed;
	left: 0; top: 0;
	z-index: 100;
	transition: .5s;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

header h1 {padding: 20px 14px;}
header h1 > a {width: 100px; display: inline-block;}

nav {min-width: 600px;}
.gnb {display: flex; align-items: center; justify-content: center; gap:40px;}
.gnb > li > a {font-size: 16px;color:#fff;}
.lang i {font-size: 24px; color: #fff;}

.hamburger {
    display: none;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 102;
}
.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.3s;
    border-radius: 2px;
}
/* header hover */
header:hover {background-color: #fff; box-shadow: 0 2px 10px 0 #00000050;}
header:hover .gnb {gap:80px;}
header:hover .gnb > li > a {color:#333;}
header:hover .lang i {color:#333;}

@media screen and (max-width:1024px) {
	header:hover {background-color: transparent; box-shadow:none;}
	header:hover .gnb {gap:40px;}
	header:hover .gnb > li > a {color:#fff;}
	header:hover .lang i {color:#fff;}
}

@media screen and (max-width:768px) {
	header {justify-content: space-between; padding:0 20px;}
	.lang {display: none;}
	.nav-container {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.85);
        transition: right 0.3s ease;
        z-index: 101;
		display:flex;
		align-items: center;
    }
    .nav-container.active {right: 0;}
	.hamburger {display: flex;}
	.hamburger.active span:nth-child(1) {transform: rotate(-45deg) translate(-6px, 8px);}
    .hamburger.active span:nth-child(2) {opacity: 0;}
    .hamburger.active span:nth-child(3) {transform: rotate(45deg) translate(-5px, -7px);}
    .hamburger.active span {background-color: white;}

	.nav-container.active .gnb {
		flex-direction: column;
		height: 70%;
		margin: auto;
	}
	.nav-container.active .gnb a {font-size: 24px;}
}

#wrap {
	position: relative;
	background: url(../images/img-wave.png) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* video */
.intro {width: 100vw; height: 100vh; overflow: hidden;}
.intro h2 {color:#fff;}
.intro1 iframe {width: 100%; height: 100%; transform: scale(1.2); pointer-events: none;}

.intro2 {display:flex; align-items: center; justify-content: center; gap:100px; padding:0 20px;}
.intro2 .padWrap { background: url('../images/img-pad.png') no-repeat center / 100% 100%; width: 810px; height: 480px; display: flex; align-items: center; justify-content: center;}
.intro .padWrap > div {width: 100%; height: 100%; padding:20px; overflow: hidden;}
.intro2 iframe {width: 100%; height: 100%; overflow: hidden; border-radius: 20px;}
.intro3 > h2 { position: absolute; left: 100px; top: 50%; transform: translateY(-50%);}

#arrow {
	position: absolute;
	left: 50%; bottom: 0px;
	transform: translateX(-50%);
	mix-blend-mode: normal;
	width: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:20px;
}
#arrow span:first-child {
	width: 30px; height: 30px;
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	transform: rotate(-45deg);
	animation: sdb05 1.5s infinite;
	box-sizing: border-box;
}
#arrow span:last-child {
	padding: 30px 0;
	font-size: 20px;
	color:#fff;
}
@keyframes sdb05 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {opacity: 1;}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}







/* banner */
.banner {
	width:100%;
	background: #000;
}
.banner_wrap {
	max-width: 1400px;
	margin: 0 auto;
	text-align: center;
}
.banner_wrap img {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	display:block;
}

/* 푸터 */
footer {
	position: fixed;
	bottom: 0;
	left:50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 1400px;
	height: 150px;
	background: #000000;
	color:#d4d4d4;
	display:flex; align-items: center; justify-content: space-between;
}
.footer-wrap {display:flex; align-items: center; justify-content: space-around; width: 100%;}

.footer-wrap > div:first-child {width: 150px;}
.footer-wrap > div:nth-child(2) {display:flex; flex-direction: column; gap:12px;}
.f_lnb ul {display:flex;}
.f_lnb ul li {
	padding-right:10px;
}
.f_lnb ul li a{
	color:#d4d4d4;
	position: relative;
}
.f_lnb ul li a::before {
	content:'|';
	display:block;
	width: 1px;
	height: 6px;
	color:#eee;
	position : absolute;
	top:1px; right:-5px;
}
.f_lnb ul li:last-child a::before {
	display:none;
}
.f_lnb ul li a strong {
	color:#fff;
}
.sns {
	display: flex;
	justify-content: center;
	align-items: center;
	gap:20px;
}
.sns a {display:inline-block; width: 40px; height:40px;}
